//- SVG icon template
mixin icon(name)
	svg(class="icon icon-" + name)
		use(xlink:href="./images/symbol-defs.svg#" + name)

//- Phone formater
mixin phone(number)
	a(href="tel:" + number.replace(/[^+0-9]/g, '')) #{number}

//- Email formater
mixin email(mail)
	a(href="mailto:" + mail) #{mail}

//- Button
mixin btn(link, text)
	a(href=link).btn #{text}

//- Button modal
mixin btn-modal(link, text)
	button(type="button" data-toggle="modal" data-target=link).btn #{text}

//- Button with arrow
mixin btn-arrow(link, text)
	a(href=link).btn-arrow
		span #{text}
		em
			+icon('arrow')